$dafault_border: #E5E5E5; 
$border_active: #2823FB;
$default_text: #98A4C5;
$default_bg: #F3F7FF;

.search-wrapper{

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 314px;
  height: 56px;
  padding: 0.5rem;
  background-color: $default_bg;

  border: $dafault_border solid 1px;
  border-radius: 0.3rem;

  &:focus, &:active, &:hover{
    border: $border_active solid 1px;
    outline: $border_active;
  }

  svg {
    font-size: 1rem;
    float: left;
    color: $border_active;
  }
  input{
    &.search-input{
      height: fit-content;
      width: 100vw;
      border: none;
      outline: none;
      padding-left: 0.5rem;
      color: $default_text;
      background-color: $default_bg;
    }
    &[placeholder]{
      color: $default_text;
    }
  }
}

.user-list{
  background-color: #FFFFFF;
  width: 314px;
  padding: 0.55rem;
  margin: 1rem 0rem;
  box-shadow: 0rem 1rem 2rem #ddd;
  ul{
    list-style-type: none;
    padding: 0.2rem;
    height: 3rem;
    li{
      padding: 1rem;
      &:hover{
        background-color: $default_bg;
      }
      p {
        font-size: 1rem;
        color: $default_text;
        line-height: 1px;
        &:first-child{
          color: #131313;
          padding-bottom: 1rem;
          
        }
      }
    }
  }
}